<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <a href="/" class="back-link"
      ><i class="fa-solid fa-arrow-left"></i>(back to home page)</a
    >
    <h1>Todos</h1>
    <ul>
      <% todos.forEach( el => { %>
      <li class="todoItem" data-id="<%=el._id%>">
        <span class="<%= el.completed === true ? 'completed' : 'not'%>"
          ><%= el.todo %></span
        >
        <i class="fa-solid fa-trash-can"></i>
      </li>
      <% }) %>
    </ul>

    <h2>Thing left to do: <%= left %></h2>

    <form action="/todos/createTodo" method="POST">
      <input type="text" placeholder="Enter Todo Item" name="todoItem" />
      <input type="submit" />
    </form>
    <script src="js/main.js"></script>
  </body>
</html>
