h1 {
  color: red;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}

span {
  margin-right: 0.5em;
  cursor: pointer;
}

.fa-trash-can {
  cursor: pointer;
}

.fa-arrow-left {
  margin-right: 0.5rem;
}

.back-link {
  cursor: pointer;
  text-decoration: none;
}
